@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Alexr03.Common.Web.Helpers
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@using TCAdminCrons.Configuration
@model TCAdminCrons.Configuration.BukkitSettings

@using (Ajax.BeginForm(new AjaxOptions {OnSuccess = "TCAdmin.Ajax.ShowBasicDialog('Success', 'Successfully saved Minecraft Automatic Game Update Settings'); document.body.style.cursor = 'default';", OnFailure = "TCAdmin.Ajax.HandleAjaxFailure"}))
{
    @Html.AntiForgeryToken()
    <div class="primary-toolbar">
        @(Html.Kendo().ToolBar()
            .Name("BukkitToolBar")
            .Items(items =>
            {
                items.Add().Template(this.GetToolbarButton(Resources.Global.Save, "save"));
                items.Add().Type(CommandType.Button).Icon("cancel").Text(Resources.Global.Cancel).Click("TCAdmin.Ajax.CancelClicked");
                items.Add().Type(CommandType.Button).Icon("reload").Text("Run Now").Click("function(){runNow(2)}");
            }))
    </div>
    <div class="primary-content">
        <fieldset class="fieldset-form auto-focus">
            @Html.ValidationSummary(true)
            <ul>
                <li>
                    <dl>
                        <h2>Base Settings</h2>
                        <dt>@Html.LabelFor(m => m.GameId)</dt>
                        <dd>@Html.Kendo().NumericTextBoxFor(m => m.GameId).Format("#")@Html.ValidationMessageFor(m => m.GameId)@Html.TooltipFor(m => m.GameId)</dd>

                        <dt>@Html.Label("Repeat Every X Seconds")</dt>
                        <dd>@Html.Kendo().NumericTextBox().Name("repeatEvery".PrefixType(typeof(BukkitSettings))).Value(int.Parse(TempData["repeatEvery"].ToString())).Format("#")</dd>
                    </dl>
                </li>
                <li>
                    <h2>Bukkit Settings</h2>
                    <dl>
                        <dt>@Html.LabelFor(m => m.Enabled)</dt>
                        <dd>@Html.Kendo().SwitchFor(m => m.Enabled)</dd>
                        <dt>@Html.LabelFor(m => m.NameTemplate)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.NameTemplate)</dd>
                        <dt>@Html.LabelFor(m => m.Description)</dt>
                        <dd>@Html.TextAreaFor(m => m.Description, new {@class = "k-textbox", style = "height: 100px;width: 400px"})</dd>
                        <dt>@Html.LabelFor(m => m.Group)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.Group)</dd>
                        <dt>@Html.LabelFor(m => m.FileName)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.FileName)</dd>
                        <dt>@Html.LabelFor(m => m.ExtractPath)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.ExtractPath)</dd>
                        <dt>@Html.LabelFor(m => m.ImageUrl)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.ImageUrl)</dd>
                        <dt>@Html.LabelFor(m => m.UseVersionAsViewOrder)</dt>
                        <dd>@Html.Kendo().SwitchFor(m => m.UseVersionAsViewOrder)</dd>
                        <dt>@Html.LabelFor(m => m.GetLastReleaseUpdates)</dt>
                        <dd>@Html.Kendo().NumericTextBoxFor(m => m.GetLastReleaseUpdates).Format("#")</dd>
                    </dl>
                </li>
            </ul>
        </fieldset>
    </div>
}